/* style.css */
    body {
        font-family: 'Arial', sans-serif;
        line-height: 1.6;
        background-color: #fef4d9;
        color: #333;
    }
    
    header {
        background-color: #3d5a5b; /* Header background color */
        color: #febeb0; /* Text color for the header */
        padding: 20px;
        text-align: center;
    }
    
    main {
        margin-top: 40px;
        background-color: #fff; /* Main content background color */
        padding: 20px;
    }
    h2 {margin-top: 20px;
        background-color: #fff; /* Main content background color */
        padding: 20px;
    color: #2f365f; /* Change this to the desired text color for h3 */
}
    h3 {margin-top: 40px;
        background-color: #fff; /* Main content background color */
        padding: 20px;
    color: #2f365f; /* Change this to the desired text color for h3 */
}
    footer {
        margin-top: 20px;
        text-align: center;
        color: #777;
        background-color: #3d5a5b; /* Footer background color */
        padding: 10px;
    }
